trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'
  webProject: 'EnvioMasivoEmail_MVC/EnvioMasivoEmail_MVC.csproj'
  syncToolProject: 'AzureTestSyncApp/AzureTestSyncApp.csproj'
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages

steps:
# 1. Cache NuGet Packages (FIXED)
- task: Cache@2
  displayName: 'Cache NuGet packages'
  inputs:
    # CHANGED: Replaced 'packages.lock.json' with '**/*.csproj'
    key: 'nuget | "$(Agent.OS)" | **/*.csproj,!**/bin/**,!**/obj/**'
    restoreKeys: |
       nuget | "$(Agent.OS)"
    path: $(NUGET_PACKAGES)

# 2. Restore dependencies for ALL projects
- task: DotNetCoreCLI@2
  displayName: 'Restore All Dependencies'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

# 3. Build the Console App (Sync Tool)
- task: DotNetCoreCLI@2
  displayName: 'Build Sync Tool'
  inputs:
    command: 'build'
    projects: '$(syncToolProject)'
    arguments: '--configuration $(buildConfiguration) --no-restore'

# 4. EXECUTE the Console App
- task: DotNetCoreCLI@2
  displayName: 'Run AzureTestSyncApp'
  inputs:
    command: 'run'
    projects: '$(syncToolProject)'
    arguments: '--configuration $(buildConfiguration) --no-build'
    workingDirectory: 'AzureTestSyncApp'
  env:
    PERSONAL_ACCESS_TOKEN: $(MyAzurePAT) 
    ORGANIZATION_URL: 'https://dev.azure.com/UTN-FabricaSoftware-2025'
    PROJECT_NAME: 'CorreosMasivos'
    PLAN_ID: '38'

# 5. Publish the Web App
- task: DotNetCoreCLI@2
  displayName: 'Publish Web App'
  inputs:
    command: 'publish'
    projects: '$(webProject)'
    publishWebProjects: false 
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory) --no-restore'
    zipAfterPublish: true

# 6. Deploy to Azure
- task: AzureWebApp@1
  displayName: 'Azure Web App Deploy'
  inputs:
    azureSubscription: 'AzureConnection' 
    appType: 'webApp'
    appName: 'correos-masivos' 
    package: '$(Build.ArtifactStagingDirectory)/**/*.zip'